*{
   margin: 0;
   padding: 0;
}

#game{
   height: 100vh;
   width: 390px;
   margin: auto;
   left: 0;
   right: 0;
   position: relative;
   background:url("../images/road.jpg");
   background-size: contain;
   overflow: hidden;
}

#blueCar{
   height: 100px;
   width: 130px;
   background-color: transparent;
   position: relative;
   top: 0px;
   left: 0px;
   text-align: center;
   animation: move 1s linear  infinite  ;
}

#blueCar>img{
   height: 100px;
}

@keyframes move {
   0%{
      top: 0px;
   }
   100%{
      top: 100vh;
   }
}

#raceCar{
   height: 100px;
   width: 130px;
   background-color: transparent;
   position: relative;
   top: 675px;
   left: 130px;
   text-align: center;
}

#raceCar>img{
   height: 100px;
}

#result{
   height: 200px;
   width: 400px;
   background-color: cornflowerblue;
   margin:  1rem auto;
   border-radius: 20px;
   font-size: 30px;
   text-align: center;
   color: white;
   display:none ;
}

#score{
   font-size: 2.2rem;
   color: brown;
}
#btnRestart{
   padding: 0.5rem 1rem;
   border-radius: 20px;
   border: none;
   background-color: black;
   color: cyan;
   font-size: 25px;
   margin-top: 10px;
   cursor: pointer;
   text-transform: uppercase;
}